<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card class="contenido_fondo">
    <img src="assets/duoc.png" class="ion-padding imagen">
    <ion-title class="titulo">RegistrAPP</ion-title>
    <img src="assets/qa.png" class="ion-padding imagen">
    
    <ion-card-content class="contenido">
      <br>
      <ion-button routerLink="/formulario" expand="block" fill="solid" color="warning" shape="round" size="small">
        Registrarse
      </ion-button>
      <ion-button routerLink="/login" expand="block" fill="solid" color="primary" shape="round" size="small">
        Iniciar sesion
      </ion-button>
    </ion-card-content>
</ion-card>
  
  <!--
  <ion-button routerLink="/alert" expand="block"  shape="round">
    Alert
  </ion-button>

  <ion-button routerLink="/action-sheet" expand="block" color="success" shape="round">
    Action Sheet
  </ion-button>
  -->
</ion-content>
