<ion-app>
 
  <ion-menu contentId="main" menuId="first" side="start" swipe-gesture="false">
    <ion-header class="menuH">
      <ion-toolbar>
        <ion-title class="titul">RegistrAPP</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
       <ion-menu-toggle *ngFor="let c of componentes">
        <ion-item [routerLink]="c.redirecTo" detail="true">
          <ion-icon slot="start" [name]="c.icon" color="warning"></ion-icon>
          {{ c.name }}
        </ion-item>
       </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
