<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-back-button defaultHref="inicio" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>feriado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" *ngFor="let feriados of datos; let i=index">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              <span class="text-primary">Feriado {{i+1}}</span>
            </ion-card-subtitle>
            <span>{{feriados.date}}</span>
            <ion-card-title>{{feriados.title}}</ion-card-title>
            <span>{{feriados.extra}}</span>
          </ion-card-header>
        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>
</ion-content>
