<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-back-button defaultHref="inicio" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

<br>
<br>

  <ion-card>
    <ion-card-header>
     <ion-card-title>Iniciar Sesion</ion-card-title>
    </ion-card-header>
  </ion-card>

  

  
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Usuario: </ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    
    <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
      <div style="color:red" *ngIf="loginForm.get('username')?.hasError('required')">
          *Username es obligatorio
      </div>
      <div style="color:red"  *ngIf="loginForm.get('username')?.hasError('minlength')">
          *Username debe tener mínimo 4 caracteres
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">Password: </ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <div style="color:red" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
      <div *ngIf="loginForm.get('password')?.hasError('required')">
          *Password es obligatoria
      </div>
      <div style="color:red" *ngIf="loginForm.get('password')?.hasError('minlength')">
          *Password debe tener mínimo 8 caracteres
      </div>
    </div>
    
     
     <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="!loginForm.valid">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
